*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/vcs.xml
.idea/.name
.idea/AndroidProjectSystem.xml
/.idea
/caches
/wrapper
/daemon
/native
/app/.idea
/.idea
/.idea
/.idea
/.idea
/.idea
design-32.md
report1-32.md
